@using WebGallery.Models.Statistics

@model IEnumerable<Visit>
@{
    ViewData["Title"] = "Самые посещаемые страницы";
}

<table>
    <tr>
        <td>Место</td>
        <td>Страница</td>
        <td>Число посещений</td>
    </tr>
    @* @foreach (Visit visit in Model)
    {
        <tr>
            <td>@visit.Id</td>
            <td>@visit.Page?.Path</td>
            <td>@visit.Method</td>
            <td>@visit.Date</td>
            <td>@visit.Time.Hour:@visit.Time.Minute:@visit.Time.Second</td>
        </tr>
    } *@
</table>