@model IEnumerable<Visit>
@{
    ViewData["Title"] = "Посещения страниц";

    int place = 1;
}
<tr>
    <td>№</td>
    <td>Страница</td>
    <td>Метод</td>
    <td>User-agent</td>
    <td>Дата</td>
    <td>Время</td>
</tr>
@foreach (Visit visit in Model)
{
    <tr>
        <td>@place</td>
        <td>@visit.Page?.Path</td>
        <td>@visit.Method</td>
        <td>@visit.UserAgent</td>
        <td>@visit.Date</td>
        <td>@visit.Time.Hour:@visit.Time.Minute:@visit.Time.Second</td>
    </tr>

    place++;
}